<div class="agendamento">
  <div class="agendamento__header">
    <div>
      <h1>Agendamentos ativos</h1>

      <p>Aqui você consegue visualizar todos os seus agendamentos ativos ou realizar um novo agendamento.</p>
    </div>
    <div>
      <a class="agendamento__novo" [routerLink]="['create']" aria-label="novo agendamento">
        <fa-icon [icon]="faCalendarPlus" [fixedWidth]="true"></fa-icon> Agendamento
      </a>
    </div>
  </div>

  <div class="agendamento__body">
    <div class="grid">
      <div class="cards">
        <div class="cards__header">
          <h2>Barba</h2>
          <button class="delete">
            <fa-icon [icon]="faTrash" [fixedWidth]="true"></fa-icon>
          </button>
        </div>
        <div class="cards__body">
          <span class="cards__date">21 Ago.</span>
          <div class="cards__info">
            <div class="cards__hora">
              <p>Horário: <strong>14:00</strong></p>
              <p>Funcionário: <strong>Joaquim Jhonsons</strong></p>
              <p>Celular: <strong>(13) 99735-2803</strong></p>
            </div>
          </div>
        </div>
      </div>

      <div class="cards">
        <div class="cards__header">
          <h2>Barba</h2>
          <button class="delete">
            <fa-icon [icon]="faTrash" [fixedWidth]="true"></fa-icon>
          </button>
        </div>
        <div class="cards__body">
          <span class="cards__date">21 Ago.</span>
          <div class="cards__info">
            <p>Horário: <strong>14:00</strong></p>
            <p>Funcionário: <strong>Joaquim Jhonsons</strong></p>
            <p>Celular: <strong>(13) 99735-2803</strong></p>
          </div>
        </div>
      </div>

      <div class="cards">
        <div class="cards__header">
          <h2>Barba</h2>
          <button class="delete">
            <fa-icon [icon]="faTrash" [fixedWidth]="true"></fa-icon>
          </button>
        </div>
        <div class="cards__body">
          <span class="cards__date">21 Ago.</span>
          <div class="cards__info">
            <p>Horário: <strong>14:00</strong></p>
            <p>Funcionário: <strong>Joaquim Jhonsons</strong></p>
            <p>Celular: <strong>(13) 99735-2803</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>