<div class="funcionarios">
  <div class="funcionarios__header">
    <div>
      <h1>Funcionários</h1>

      <p *ngIf="funcionarios.length > 0 && !loading">Lista de todos os funcionários presentes do estabelecimento.
        Qualquer dúvida, sinta-se a vontade para entrar em
        contato diretamente com eles.</p>
      <p *ngIf="funcionarios.length === 0 && !loading">Infelizmente não existe nenhum funcionário cadastrado no momento.
        Por favor, volte mais tarde.</p>
    </div>
  </div>

  <div class="funcionarios__body">
    <div class="grid">
      <app-card-funcionarios *ngFor="let func of funcionarios" [funcionario]="func"></app-card-funcionarios>
    </div>

    <div class="loader" *ngIf="loading">
      <app-loader></app-loader>
    </div>
  </div>
</div>