@import "../../../assets/styles/dependencies";

::ng-deep .info-modal {
  color: $color-dark;
  .modal-header,
  .modal-footer {
    border: unset;

    .close {
      height: 24px;
      background: $color-info;
      color: $color-branco;
      border: none;
      font-size: 14px;
      font-weight: normal;
      padding: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      opacity: 1;
    }
  }

  .modal-body {
    padding: 16px 16px 12px 16px;
  }
}
