@import "../../../../../../../assets/styles/dependencies";

.funcionarios {
  padding: 16px;
  &__header {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include mq(lg) {
      align-items: center;
      flex-direction: row;
    }
    h1 {
      color: $color-amarelo;
    }

    p {
      margin: 0;
    }
  }

  &__novo {
    margin-top: 24px;
    color: $color-branco;
    background: $color-info;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mq(lg) {
      padding: 12px;
    }

    ::ng-deep fa-icon {
      font-size: 21px;
      margin-right: 8px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .loader {
      margin-top: 32px;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 8px;

      @include mq(lg) {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

::ng-deep .modal-create {
  @include mq(md) {
    max-width: 720px;
  }
  @include mq(lg) {
    max-width: 1080px;
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;

  @include mq(md) {
    grid-template-columns: 1fr 1fr;
  }

  .label-float {
    position: relative;
    height: 56px;
    background: $color-dark;
    border-radius: 4px;
    box-shadow: 1px 4px 10px #0006;

    .error-msg {
      display: block;
      padding-left: 16px;
      font-size: 12px;
      color: $color-red;
      font-weight: 400;
      margin-top: 3px;
    }
  }

  .label-float input,
  .label-float select {
    padding: 6px 16px 0;
    color: $color-branco;
    border: 0;
    width: 100%;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-appearance: none;
    border-radius: 0;
    height: 100%;
    background: transparent;

    &[disabled] {
      background: $color-escuro;
    }
  }

  .label-float input:focus,
  .label-float select:focus {
    border-bottom: 2px solid $color-amarelo;
  }

  .label-float input::placeholder,
  .label-float select::placeholder {
    color: transparent;
  }

  .label-float label {
    padding-left: 16px;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 18px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    color: $color-branco;
  }

  .label-float select:focus + label,
  .label-float input:focus + label,
  .label-float select:not(:placeholder-shown) + label,
  .label-float input:not(:placeholder-shown) + label {
    font-size: 12px;
    margin-top: 6px;
    color: $color-amarelo;
  }
  option {
    color: $color-dark;
  }
}
