<div class="funcionarios">
  <div class="funcionarios__header">
    <div>
      <h1>Criar/Excluir funcionários</h1>

      <p *ngIf="funcionarios.length > 0 && !loading">Listagem de todos os funcionários cadastrados no sistema: </p>
      <p *ngIf="funcionarios.length === 0 && !loading">Nenhum funcionário cadastrado no momento.</p>
    </div>
    <div>
      <button class="funcionarios__novo" aria-label="novo funcionário">
        <fa-icon [icon]="faPlus" [fixedWidth]="true"></fa-icon> Funcionário
      </button>
    </div>
  </div>

  <div class="funcionarios__body">

    <div class="grid">
      <app-card-admin-funcionarios *ngFor="let func of funcionarios;" [funcionario]="func">
      </app-card-admin-funcionarios>
    </div>


    <div class="loader" *ngIf="loading">
      <app-loader></app-loader>
    </div>
  </div>
</div>