@import "../../../../../../../assets/styles/dependencies";

.details {
  .card-container__card {
    .content {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 8px;

      @include mq(md) {
        gap: 32px;
        flex-direction: row;
      }
    }
  }

  .back {
    ::ng-deep fa-icon {
      margin-right: 8px;
      color: $color-amarelo;
    }
  }

  .user-content,
  .func-content {
    width: 100%;
  }

  .delete {
    button {
      padding: 8px;
      background: $color-red;
      color: $color-branco;
      border-radius: 8px;
    }
  }
}
