@import "../../../assets/styles/dependencies";

.lds-dual-ring {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.dark:after {
  border-color: $color-dark transparent $color-dark transparent;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
