<div class="servicos">
  <div class="servicos__header">
    <div>
      <h1>Serviços</h1>

      <p *ngIf="servicos.length > 0 && !loading">Veja todos os serviços que estamos oferecendo no momento. </p>
      <p *ngIf="servicos.length === 0 && !loading">Infelizmente não existe nenhum serviço cadastrado no momento.
        Por favor, volte mais tarde. </p>
    </div>
  </div>

  <div class="servicos__body">

    <div class="grid">
      <app-card-servicos *ngFor="let servico of servicos;" [servico]="servico" [role]="role"></app-card-servicos>
    </div>

    <div class="loader" *ngIf="loading">
      <app-loader></app-loader>
    </div>
  </div>
</div>