//cores

//escuros
$color-preto: #000000;
$color-dark: #0D1117;


//cinzas
$color-cinza: #8B949E;
$color-escuro: #686460;
$color-escuro-2: #3D3C3A;


//cores vivas
$color-branco: #FFFFFF;
$color-cinza-claro: #E5E5E5;
$color-amarelo: #C6932B;
$color-sucesso: #04D361;
$color-error: #8C0404;
$color-info: #015B7E;
$color-warning: #EB7909;
$color-red: #E54033;
$color-blue: #3C52EF;
$color-bege: #F4DDB8;
$color-marrom: #543D18;


//forms
$input-background: rgba(201, 209, 217, 0.3);


