<header class="header">
  <div class="header__container">
    <div class="header__logo">
      <a href="#" aria-label="Logo Barbertoo">B</a>
    </div>
    
    <ul class="header__menu">
      <li class="header__menu__item">
        <a href="#">
          <fa-icon [icon]="faCalendarDays" [fixedWidth]="true"></fa-icon>
          Agendamentos
        </a>
      </li>
      <li class="header__menu__item">
        <a href="#">
          <fa-icon [icon]="faBagShopping" [fixedWidth]="true"></fa-icon>
          Serviços
        </a>
      </li>
      <li class="header__menu__item">
        <a href="#">
          <fa-icon [icon]="faUsers" [fixedWidth]="true"></fa-icon>
          Funcionários
        </a>
      </li>
    </ul>
  </div>

  <div class="header__user">
    <button class="header__logout">
      Logout
    </button>
    <span>© Barberttoo - 2022</span>
  </div>
</header>