@import "../../../assets/styles/dependencies";

.header {
  padding: 80px 24px;
  display: none;
  height: 100%;
  background: $color-cinza-claro;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-right: 2px solid $color-amarelo;
  border-top: 2px solid $color-amarelo;
  border-bottom: 2px solid $color-amarelo;

  @include mq(md) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__logo {
    margin-bottom: 32px;

    a {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-cinza-claro;
      background: $color-dark;
      font-size: 32px;
      line-height: 32px;
      font-weight: 900;
      width: 48px;
      height: 48px;
      border-radius: 100%;
    }
  }

  .username {
    width: 100%;
    padding-bottom: 16px;
    margin: 24px 0 24px;
    border-bottom: 1px solid $color-cinza;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      font-size: 14px;
      color: $color-amarelo;
      font-weight: bold;
    }

    a {
      margin-top: 8px;
      font-size: 14px;
      line-height: 21px;
      background: $color-dark;
      color: $color-branco;
      width: 100%;
      text-align: center;
      border-radius: 12px;
    }
  }

  &__menu {
    &__item {
      a {
        font-size: 16px;
        line-height: 48px;
        display: flex;
        color: $color-dark;

        .ng-fa-icon {
          margin-right: 8px;

          ::ng-deep svg {
            color: $color-dark;
          }
        }
      }
    }
  }

  &__user {
    button,
    span {
      color: $color-dark;
    }

    button {
      border: none;
      background: none;
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: 16px;
      background: $color-amarelo;
      border-radius: 12px;
    }

    span {
      display: block;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
    }
  }
}

.headerMobile {
  background: $color-cinza-claro;
  padding: 16px;
  position: relative;
  border-bottom: 2px solid $color-amarelo;
  &__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    height: 100%;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-cinza-claro;
      background: $color-dark;
      font-size: 32px;
      line-height: 32px;
      font-weight: 900;
      width: 48px;
      height: 48px;
      border-radius: 100%;
    }
  }

  .username {
    color: $color-amarelo;
    font-weight: bold;
  }

  &__btnMenu {
    background: transparent;
    border: none;

    ::ng-deep fa-icon {
      font-size: 24px;
      color: $color-dark;
    }
  }

  .nav {
    padding-top: 24px;

    ul {
      width: 100%;
      border-top: 1px solid $color-cinza;
      padding-top: 24px;

      li {
        padding: 8px 0;
        a {
          line-height: 24px;
          font-size: 16px;
          color: $color-dark;
          font-weight: bold;
          width: 100%;
          display: flex;

          ::ng-deep fa-icon {
            margin-right: 8px;
          }
        }
      }
    }

    .user {
      width: 100%;
      button {
        background: $color-amarelo;
        padding: 4px;
        border-radius: 4px;
        max-width: 80px;
        width: 100%;
        display: block;
        margin-left: auto;
        text-align: center;
      }
    }
  }
}
