<header class="header">
  <nav class="header__container">
    <div class="header__logo">
      <a href="#" aria-label="Logo Barbertoo">B</a>
    </div>

    <div class="username">
      <span>Olá, Carlos!</span>
    </div>
    
    <ul class="header__menu">
      <li class="header__menu__item" *ngFor="let item of navHeader;">
        <a [href]="item.link">
          <fa-icon [icon]="item.icon" [fixedWidth]="true"></fa-icon>
          {{item.name}}
        </a>
      </li>
    </ul>
  </nav>

  <div class="header__user">
    <button class="header__logout">
      Logout
    </button>
    <span>© Barberttoo - 2022</span>
  </div>
</header>

<header class="headerMobile">
  <div class="headerMobile__bar">
    <div class="headerMobile__logo">
      <a href="#" aria-label="Logo Barbertoo">B</a>
    </div>

    <div class="username">
      <span>Olá, Carlos!</span>
    </div>

    <button class="headerMobile__btnMenu" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapseExample">
      <fa-icon [icon]="faBars" [fixedWidth]="true"></fa-icon>
    </button>
  </div>
  <div class="nav" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <ul>
      <li *ngFor="let item of navHeader;">
        <a [href]="item.link">
          <fa-icon [icon]="item.icon" [fixedWidth]="true"></fa-icon>
          {{item.name}}
        </a>
      </li>
    </ul>
    <div class="user">
      <button class="logout">
        Logout
      </button>
    </div>
  </div>
</header>