<div class="servicos">
  <div class="servicos__header">
    <div>
      <h1>Criar/Editar serviços</h1>

      <p *ngIf="servicos.length > 0 && !loading">Listagem de todos os serviços disponíveis para os usuários: </p>
      <p *ngIf="servicos.length === 0 && !loading">Nenhum serviço cadastrado no momento.</p>
    </div>
  </div>

  <div class="servicos__body">

    <ul *ngIf="servicos.length > 0 && !loading">
      <app-card-admin-servicos *ngFor="let servico of servicos;" [servico]="servico" (deletedClicked)="getServicos()">
      </app-card-admin-servicos>
    </ul>


    <div class="loader" *ngIf="loading">
      <app-loader></app-loader>
    </div>
  </div>
</div>