//cores

//escuros
$color-preto: #000000;
$color-dark: #0d1117;

//cinzas
$color-cinza: #8b949e;
$color-escuro: #686460;
$color-escuro-2: #3d3c3a;

//cores vivas
$color-branco: #ffffff;
$color-cinza-claro: #e5e5e5;
$color-amarelo: #c6932b;
$color-sucesso: #008f00;
$color-error: #8c0404;
$color-info: #015b7e;
$color-warning: #eb7909;
$color-red: #e54033;
$color-blue: #3c52ef;
$color-bege: #f4ddb8;
$color-marrom: #543d18;

//forms
$input-background: rgba(201, 209, 217, 0.3);
