@import "colors";
@import "fonts";
@import "utils";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $color-branco;
  background: $color-dark;
}

@media (max-width: 997px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 765px) {
  html {
    font-size: 87.5%;
  }
}

*,
button,
input {
  border: 0;
  outline: 0;
  font-family: $font-inter, sans-serif;
}
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    filter: brightness(1) !important;
  }
}

a,
button {
  transition: all 0.2s;
  &:hover {
    filter: brightness(0.8);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 900;
}

ul {
  list-style: none;
}

a[href]:not([tabindex="-1"]),
area[href]:not([tabindex="-1"]),
input:not([disabled]):not([tabindex="-1"]),
select:not([disabled]):not([tabindex="-1"]),
textarea:not([disabled]):not([tabindex="-1"]),
button:not([disabled]):not([tabindex="-1"]),
iframe:not([tabindex="-1"]),
[tabindex]:not([tabindex="-1"]),
[contentEditable="true"]:not([tabindex="-1"]) {
  &:focus-visible {
    outline: 2px solid $color-amarelo;
    border-radius: 2px;
  }
}
