@import "dependencies";

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  &__content {
    padding: 16px;

    @include mq(md) {
      padding: 0;
    }
  }

  &__title {
    color: $color-amarelo;
    font-size: 24px;

    @include mq(lg) {
      font-size: 30px;
    }
  }

  &__back {
    color: $color-branco;
    text-transform: uppercase;
    margin-bottom: 8px;
    display: flex;
    font-size: 14px;

    &:hover {
      color: $color-branco;
    }
  }

  &__card {
    background: $color-branco;
    color: $color-dark;
    border-radius: 12px;
    padding: 16px;
    border: 2px solid $color-amarelo;

    @include mq(md) {
      padding: 24px;
    }
  }

  &__subtitle {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: $input-background;
  border-radius: 8px;
}
