@import "../../../../../assets/styles/dependencies";

.admin {
  padding: 16px;
  &__header {
    margin-bottom: 32px;

    h1 {
      color: $color-amarelo;
    }

    p {
      margin: 0;
    }
  }

  &__body {
    h2 {
      color: $color-amarelo;
    }

    ul {
      list-style: initial;
      color: $color-amarelo;
      padding-left: 16px;

      li {
        a {
          color: $color-branco;
          text-decoration: underline;
          padding: 8px;
          display: block;

          &:hover {
            color: $color-amarelo;
          }
        }
      }
    }
  }
}
